#aPane{
    -fx-background-image: url(image1.jpg);
    -fx-border-style: solid;
    -fx-border-color: rgb(255, 158, 11);
    -fx-border-width: 5px;
}

#button1{
    -fx-background-color: rgb(179, 156, 185);
    -fx-border-radius: 30px;
}

#buttonCreate{
    -fx-background-color: rgb(230, 164, 244);
}

#buttonHome{
    -fx-background-image: url(image2.jpg);
}
